<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customSection" type="System.Configuration.AppSettingsSection" allowLocation="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PosNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <customSection>
    <add key="fecha" value="01/01/1900"/>
    <add key="flag" value="0"/>
  </customSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="CUIT" value="30646941136"/>
    <add key="CUITISV" value="30646941136"/>
    <add key="IP" value="52.67.141.229"/>
    <add key="COMERCIO_ID" value="00000004"/>
    <add key="TERMINAL_ID" value="SE000001"/>
    <add key="INITIALIZED" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <PosNet.Properties.Settings>
      <setting name="Fechaflag" serializeAs="String">
        <value/>
      </setting>
      <setting name="Valorflag" serializeAs="String">
        <value/>
      </setting>
    </PosNet.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
